body {
    margin-top: 50px;
    font-size: 12px;
    font-family: sans-Serif; 
    background-color: #66ccff;
    text-align: center;
}

header {
    display: block;
    width: 100%;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 110px;
    color:white;
    text-shadow: 1px 2px 2px #000
}
input{
    font-size: 20px;
    margin-bottom: 0;
}

.square-box, button{
  background-color: white;
  border: 0;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 10px;
}
#submit-button{
  margin-bottom: 10px;
}
button:hover{
  background-color: #5882FA;
  -webkit-box-shadow:  5px 5px 10px 1px rgba(0, 0, 0, .5);
  box-shadow:  5px 5px 10px 1px rgba(0, 0, 0, .5);
}
.control-box{
    
}
footer {
    font-size: 10px;
    bottom: 0px; 
    right: 20px; 
    position: absolute;
    text-align:right; 
}
